<div class="user-login">
  <div class="background">
    <div class="container">

      <div class="mein-wrapper">
        <div class="heading">
          <h2 >ログイン</h2>
        </div>
        <div class="formbox">
          <%= form_with model:@user do |form| %>
            <div class="form">
              <div class="form-title">
                <%=form.label :email, "メールアドレス" %><br>
              </div>
              <%=form.email_field :email %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :password, "パスワード" %><br>
              </div>
              <%=form.password_field :password %>
            </div>

            <div class="btn-wrapper">
              <%= form.submit "ログイン"%>   
            </div>
            <div class="new-btn">
              <%= link_to "新規登録はこちら", new_user_path %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>