<div class="user-check">
  <div class="background">
    <div class="container">

      <div class="mein-wrapper">
        <div class="heading">
          <h2 >登録内容の確認</h2>
        </div>
        <div class="formbox">
          <%= form_with url: users_path ,method: :post do |form| %>
            <div class="form">
             <% if @user.image.attached? %>
               <%= image_tag image %>
             <% end %>
              <img class="image" src="/photo/user.jpeg" alt="">
            </div>

            <div class="form">
              <div class="name">
               <p> <%=form.label :name, "お名前" %><</p><br>
               <h2><input name="name" value="<%= @user.name %>"></h2>
              </div>
            </div>

            <div class="form">
              <div class="title">
                <p><%=form.label :email, "メールアドレス" %></p><br>
              </div>
              <h2><input name="email" value="<%= @user.email %>"></h2>
            </div>

            <div class="form">
              <div class="password">
                <p><%=form.label :password, "パスワード" %></p><br>
                <h2><input name="password" value="<%= @user.password %>"></h2>
              </div>
            </div>

            <div class="btn-wrapper">
              <%= form.submit "登録する"%>   
              <a href="#">修正する</a>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
