<div class="user-new">
  <div class="background">
    <div class="container">

      <div class="mein-wrapper">
        <div class="heading">
          <h2 >新規登録</h2>
        </div>
        <div class="formbox">
          <%= form_with url: check_path ,method: :get do |form| %>
            <div class="form">
              <div class="form-title">
                <%=form.label :プロフィールアイコン %><br>
              </div>
              <div class="file-form">
                <%=form.file_field :プロフィールアイコン %>
              </div>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :お名前 %><br>
              </div>
              <%=form.text_field :お名前 %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :メールアドレス %><br>
              </div>
              <%=form.email_field :メールアドレス %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :パスワード %><br>
              </div>
              <%=form.password_field :パスワード %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :パスワード（確認） %><br>
              </div>
              <%=form.password_field :パスワード（確認） %>
            </div>
            <div class="btn-wrapper">
              <%= form.submit "登録する"%>   
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
