<div class="user-new">
  <div class="background">
    <div class="container">

      <div class="mein-wrapper">
        <div class="heading">
          <h2 >新規登録</h2>
        </div>
        <div class="formbox">
          <%= form_with model: @user, url: check_path ,method: :get do |form| %>
            <div class="form">
              <div class="form-title">
                <%=form.label :user_image, "プロフィールアイコン" %><br>
              </div>
              <div class="file-form">
                <%= form.file_field :user_image %>
              </div>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :name, "お名前" %><br>
              </div>
              <%=form.text_field :name %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :email, "メールアドレス" %><br>
              </div>
              <%=form.email_field :email %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :password, "パスワード" %><br>
              </div>
              <%=form.password_field :password %>
            </div>

            <div class="form">
              <div class="form-title">
                <%=form.label :password_confirmation, "パスワード(確認)" %><br>
              </div>
              <%=form.password_field :password_confirmation %>
            </div>
            <div class="btn-wrapper">
              <%= form.submit "登録する"%>   
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
